*
{
    margin: 0;
    padding: 0;
}

ul, li 
{
    display: inline-block;
}

ul 
{
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
    padding-top: 15px;;
}

li:hover
{
    cursor: pointer;
}
nav 
{
    height: 50px;
    background-color: #D93E30;
    color: white;
}
#req
{
    background-color: #F2B807;
}
#req p
{
    padding: 5px 50px;
}